@charset "UTF-8";

    /*서브 섹션*/
    #section {width:100%; height:auto;position:relative;}

    /*서브 배경이미지*/
    #sub_bg {width: 100%; height: auto; background: #79cad1; display: flex; justify-content: center; position: absolute; top: 0; left: 0;}
    .sub_bg_img{width: 1717px; height: 611px; margin: 0px auto;background-image:url(../img/bg_img.jpg);background-size:cover; background-position: center;}
    

    .sub_wrap {width:980px; height:auto; background-color: #fff; margin:0 auto;position:relative;}

    /*서브 네비*/
    .sub_nav{width:980px; height:40px; background-color:#79cad1;padding:0 0 0 3px; border-bottom:1px solid #fff;}
    .sub_nav > ul > li {float:left; font-size:11px; padding:5px; color:#333; line-height:30px;}
    .sub_nav > ul > li > a {text-decoration:none; color:#333;}
    .sub_nav > ul > li > a > i {color:#777;margin: 0 0 0 3px;}

    .sub_title {width:980px; height:90px;background-color:#79cad1; display:flex; justify-content: space-between; align-items:center;}
    .sub_title_wrap {width:150px; height:50px; padding:0 0 0 7px}
    .sub_title_wrap > h3 {font-size:20px; color:#333;}
    .sub_title_wrap > p {font-size:12px; color:#555;font-weight: bold;}
    .star_review {width:170px; height:20px; display:flex; align-items:center;justify-content: space-between;}
    .star_review a {text-decoration:none;}
    .star_icon {width:85px; height:20px;vertical-align: -4px;}
    .star_num {font-size:17px;color:#787777;margin:0 0 0 0;}
    .bar {font-size:10px;padding:5px; color:#ccc;}
    .review_icon{width:41px; height:15px; font-size:12px; color:#787777;}
    .review_icon > img {width:15px; height:15px;vertical-align: -2px; margin:0 2px 0 0;}
    
    /*sub_product*/
    .sub_product {width:980px; height:550px; display:flex;}
    .sub_product_left {width:250px; height:490px;  display:flex; align-items: center; justify-content: center;}
    .sub_left {width:220px; height:440px;  display:flex; flex-direction: column; justify-content: space-between; align-items:center;}
    .s_product_img {width:200px; height:290px; margin:0 auto; box-shadow: 3px 3px 3px #ddd;}
    .s_product_img > img {width:100%; height:100%;}
    .s_btn_box {width:213px; height:36px; margin:0 auto; background-color:#fafafa; border:1px solid #a8a8a8;}
    .s_btn_box > ul > li {width:105px; height:35px;float:left; text-align:center; line-height:35px;}
    .s_btn_box > ul > li:nth-of-type(1) {border-right:1px solid #a8a8a8;}
    .s_btn_box > ul > li > a {text-decoration:none; font-size:14px; color:#666;}
    .s_btn_box > ul > li > a > img {width:18px; height:18px;vertical-align: -3px; margin:0 5px 0 0;}
    .s_sale {width:205px; height:65px;display:flex; flex-direction:column; justify-content: space-between;}
    .s_sale_box {width:205px; height:30px; background-color:#f9f9f9; display:flex;align-items: center; justify-content: center;}
    .s_sale_text {font-size:14px;padding:0 5px 0 0;}
    .s_sale_box:last-child > .s_sale_text {margin:0 0 0 -20px;}
    .s_sale_box:last-child > a > img:last-child {margin:0 0 0 5px;}
    .s_sale_num {font-size:14px; color:red; padding:0 5px 0 0;}
    .s_sale_box > a > img {width:20px; height:20px; vertical-align: -5px; margin:0 5px 0 0;}
    .mark {width:12px; height:12px; vertical-align: -5px;}

    .sub_product_right {width:730px; height:540px; }
    .product_info {width:730px; height:55px; display:flex; align-items: center;border-bottom:1px solid #ddd;}
    .product_info > ul > li {float:left;font-size:12px;padding:0 3px 0 0;margin:0 0 0 3px; }
    .product_info > ul > li:nth-of-type(1) {margin:0;}
    .product_info > ul > li > a {text-decoration: none; color:#666;}
    .product_info > ul > li > a:hover {text-decoration: underline;}
    .bar01 {font-size:10px;color:#ccc;}

    .product_table {width:730px; height:385px; }
    .product_table > table {width:650px; height:375px;}
    .product_table > table tr:nth-of-type(7) > th {height: 36px;}
    .product_table > table tr th {width:50px;text-align:right;font-size:12px; }
    .product_table > table > tr {height:36px;}
    .product_table > table tr:nth-of-type(2) {height:80px;}
    .product_table > table tr:nth-of-type(3) >  td > a {text-decoration:none;color:#666;}
    .product_table > table tr:nth-of-type(3) >  td > a > i {color:#ef544d;}
    .product_table > table tr:nth-of-type(5) {height:10px;}
    .product_table > table tr:nth-of-type(6) {height:36px;}
    .product_table > table tr:nth-of-type(6) td a > img {width:180px; height:19px;vertical-align: -5px;}
    .product_table > table tr:nth-of-type(8) {height:40px;}
    .product_table > table tr:nth-of-type(9) {height:36px; }
    .product_table > table tr td {padding:0 0 0 30px; font-size:12px; color:#666;}
    .download {width:20px; height:20px; vertical-align: -5px;}
    .benefit {width:720px; height:36px; margin:5px 0 0 0;}
    .benefit > a > img {width:100%; height:100%;}
    .help {width:14px; height:14px;vertical-align: -2px;}
    .messagebox {width:180px; height:80px;  border:1px solid #ef544d;border-top:3px solid #ef544d;
      border-radius:3px;position:relative;margin:0 0 0 -30px;padding:5px 0 0 10px;}
    .messagebox a {text-decoration:none;color:#666;}
    .messagebox > a > h4 {font-size:14px;color:#000;}
    .red_text {font-size:17px; color:#ef544d;font-weight:bold;}
    .red_text > span {font-size:12px;font-weight: normal;color:#666;}
    .downangle {position:absolute; top:69px; left:90px; color:#ef544d;}
    .blue_text {color:#7a45eb;font-weight: bold;}
    .skyblue_text a {color:#17a9ef; text-decoration:none;font-weight: bold;}
    .skyblue_text a > i {margin:0 0 0 5px;color:#ef544d;}
    .red {color:#ef544d;}
    .bold {font-weight:bold; color:#000;}
    .bar02 {font-size:12px; color:#ccc;}
    .count_num {width:80px; background-color:#fff; border:1px solid #ccc;display:flex;align-items:center;color:#666;}
    .count_number {width:40px; height:20px;text-align:center;border:none;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
    .minus{width:20px; height:20px;text-align:center;padding: 2px; border-right:1px solid #ccc;cursor:pointer;color:#ccc;}
    .plus{width:20px; height:20px;text-align:center;padding: 2px;border-left:1px solid #ccc; cursor:pointer; color:#ccc;}

    .product_btn {width:500px; height:40px; margin:20px 0 0 0;}
    .pro_btn {width:135px; height:40px;border:none;font-weight: bold;font-size:13px;text-align:center;}
    .pro_btn:nth-of-type(1) {color:#fff;background-color:#707070;}
    .pro_btn:nth-of-type(2) {color:#fff;background-color:#ef544d;}
    .pro_btn:nth-of-type(3) {color:#666;background-color:#fff;}
    .pro_btn:nth-of-type(3) > i {margin:0 5px 0 0;}

    /*sub 메뉴*/
    .sub_nav_menu {width:980px; height:40px; margin:0 auto;position:sticky;top:0; z-index:3;}
    .sub_nav_menu > ul {width:100%; height:100%;border-bottom:1px solid #cdcdcd;}
    .sub_nav_menu > ul > li {width:196px; height:40px; float:left;text-align:center;border-right:1px solid #ddd;background-color:#f8f8f8;}
    .sub_nav_menu > ul > li:nth-of-type(1) {border-left:1px solid #ddd;}
    .sub_nav_menu > ul > li > a {font-size:13px; text-decoration:none;line-height:40px; color:#000;font-weight: bold;}
    .sub_nav_menu > ul > li.on1 {background-color:#777;}
    .sub_nav_menu > ul > li.on1 > a {color:#fff;}

    /*이상품의 분류*/
    #kind {width:980px; height:140px;padding: 25px 0 0 0;}
    .settitle {width:980px; height:45px;border-bottom:1px solid #777;}
    .settitle > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
    .kind_list {width:980px; height:70px;display:flex; flex-direction: column;padding-left:35px;padding-top:10px;}
    .kind_list > ul:nth-of-type(2) {padding-top:10px;}
    .kind_list > ul > li {float:left;margin-right:10px;font-size:12px; color:#666;}
    .kind_list > ul > li:first-child {list-style: square;}
    .kind_list > ul > li > a {text-decoration:none; color:#666;}
    .kind_list > ul > li:last-child {font-weight: bold;}

    /*북인사이드*/
    .bookinside {width:980px; height:360px; }
    .inside_title {width:980px; height:45px;border-bottom:1px solid #777;}
    .inside_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
    .inside_content {width:980px; height:295px; display:flex; margin-top:10px;}
    .inside_left {width:220px; height:295px;background-color:#696969;border-right:1px solid #555;border-left:1px solid #555;}
    .inside_left > ul > li {width:220px; height:60px;display:flex; justify-content: center; align-items:center; background-color:#555;text-align:center;
      border-top:1px solid #707070;border-bottom:1px solid #444444; color:#fff;font-size:12px;cursor:pointer;}
    .inside_left > ul > li.on2 {background-color:#ef544d;border:1px solid #c13232;}
    .inside_right {width:760px; height:295px;}
    .inside_imgbox {width:760px; height:295px;position:relative;}
    .inside_imgbox > img {width:100%;height:100%;}
    .right_arrow {position:absolute; left:-3px;color:#ef544d;}
    .inside_imgbox:first-child > .right_arrow {position:absolute; top:7%;}
    .inside_imgbox:nth-child(2) > .right_arrow {position:absolute; top:27%;}
    .inside_imgbox:nth-child(3) > .right_arrow {position:absolute; top:47%;}
    .inside_imgbox:last-child > .right_arrow {position:absolute; top:67%;}

    /*책소개*/
    .introduction {width:980px; height:auto; margin:10px 0 0 0;position:relative;}
    .intro_title {width:980px; height:45px;border-bottom:1px solid #777;}
    .intro_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
    .intro_text {font-size:13px;height:auto; text-align:justify; padding:20px 20px 10px 20px;line-height:20px;}

    .text_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:0px; right:2px; }
	  .text_spread:nth-of-type(2) { display: none; }
	  .text_spread > i { font-size: 10px; color: #e15148; }
     #hidden1 {display:none;}

     /*출판사 서평*/
     .publisher {width:980px; height:auto; position:relative;}
     .pub_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .pub_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .pub_text {font-size:13px;height:auto; text-align:justify; padding:20px 20px 10px 20px;line-height:20px;}
     .pub_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:0px; right:2px; }
	   .pub_spread:nth-of-type(2) { display: none; }
	   .pub_spread > i { font-size: 10px; color: #e15148; }
     #hidden2 {display:none;}
     .p_bold {font-weight:bold;}

     /*추천사*/
     .recommendation {width:980px; height:auto;  position:relative;}
     .recommendation_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .recommendation_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .recommendation_text {font-size:13px;height:auto; text-align:justify; padding:20px 20px 10px 20px;line-height:20px;}
     .recommendation_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:0px; right:2px; }
	   .recommendation_spread:nth-of-type(2) { display: none; }
	   .recommendation_spread > i { font-size: 10px; color: #e15148; }
     #hidden3 {display:none;}

     /*목차*/
     .index {width:980px; height:auto;  position:relative;}
     .index_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .index_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .index_text {font-size:13px;height:auto; text-align:justify; padding:20px 20px 10px 20px;}
     .index_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:0px; right:2px; }
	   .index_spread:nth-of-type(2) { display: none; }
	   .index_spread > i { font-size: 10px; color: #e15148; }
     #hidden4 {display:none;}

     /*본문 중에서*/
     .maintext {width:980px; height:auto;  position:relative;}
     .maintext_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .maintext_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .maintext_text {font-size:13px;height:auto; text-align:justify; padding:20px 20px 10px 20px;line-height:20px;}
     .maintext_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:0px; right:2px; }
	   .maintext_spread:nth-of-type(2) { display: none; }
	   .maintext_spread > i { font-size: 10px; color: #e15148; }
     #hidden5 {display:none;}

     /*저자소개*/
     .author_wrap {width:980px; height:auto; }
     .author_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .author_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .author {width:980px; height:195px;}
     .author_name {width:980px; height:45px;background-color:#f9f9f9; display:flex; justify-content: space-between; align-items: center;padding:5px;border-top:1px solid #ccc; border-bottom:1px solid #eee;}
     .author_name > h2 {font-size:15px;padding-left:10px;}
     .author_name > span {font-size:11px;padding-right:10px;}
     .author_name > span > a {text-decoration:none;color:#777;}
     .author_name > span > a > i {padding-left:2px;}
     .author_info {width:980px; height:150px;display:flex;border-bottom:1px solid #eee;}
     .author_birth{width:220px; height:150px; padding-top:15px; padding-left:15px;font-size:12px;display:flex;justify-content: space-between;border-right:1px solid #eee;}
     .author_birth > span {padding-right:15px;}
     .author_info_text {width:760px; height:150px; text-align:justify;line-height:20px;font-size:13px; padding:15px 20px 20px 20px;}

     .author_book_wrap {width:980px; height:auto; border:1px solid #eee;position:relative;padding-top:10px;}
     .author_book {width:980px; height:45px;background-color:#f9f9f9; display:flex; justify-content: space-between; align-items: center;border-bottom:1px solid #eee;}
     .author_book > h2 {font-size:15px;padding-left:10px;}
     .author_book > span {font-size:11px;padding-right:10px;}
     .author_book > span > a {text-decoration:none;color:#777;}
     .author_book > span > a > i {padding-left:2px;}
     .author_book1 {width:980px; height:auto; position:relative;padding-top:20px; padding-bottom:30px;border:1px solid #eee;}
     .author_book_list {width:925px; height:240px; margin:0 auto;display:flex; justify-content: space-between;}
     .author_book_list > li {width:145px; height:240px;float:left;display:flex; flex-direction: column; align-items: center; justify-content: space-between;}
     .author_book_list1 {width:925px; height:240px; margin:0 auto;margin-top:20px;display:flex; justify-content: space-between;}
     .author_book_list1 > li {width:145px; height:240px;float:left;display:flex; flex-direction: column; align-items: center; justify-content: space-between;}
     .author_book_list2 {width:613px; height:240px;margin-top:20px;display:flex; justify-content: space-between;}
     .author_book_list2 > li {width:145px; height:240px;float:left;display:flex; flex-direction: column; align-items: center; justify-content: space-between;}
     .author_book_hidden {width:925px; height:500px;margin:0 auto; display:none;}
     .author_book_img {width:120px; height:180px;}
     .author_book_img > img {width:100%;height:100%;}
     .author_book_title {width:145px; height:35px;font-size:12px;text-align:center;}
     .author_book_title > p > a {text-decoration:none; color:#666;}
     .author_book_price {width:110px;height:20px; font-size:12px;text-align:center; line-height:20px;}
     .line {text-decoration: line-through;}
     .sale_red {font-weight:bold; color:#e15148;}
     .normal {color:#666;font-weight:normal;}
     .author_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:10px; right:2px; }
	   .author_spread:nth-of-type(2) { display: none; }
	   .author_spread > i { font-size: 10px; color: #e15148; }
     
     .translator {width:980px; height:195px;margin-top:10px;}
     .translator_name {width:980px; height:45px;background-color:#f9f9f9; display:flex; justify-content: space-between; align-items: center;padding:5px;border-top:1px solid #ccc; border-bottom:1px solid #eee;}
     .translator_name > h2 {font-size:15px;padding-left:10px;}
     .translator_name > span {font-size:11px;padding-right:10px;}
     .translator_name > span > a {text-decoration:none;color:#777;}
     .translator_name > span > a > i {padding-left:2px;}
     .translator_info {width:980px; height:150px;display:flex;border-bottom:1px solid #eee;}
     .translator_birth{width:220px; height:150px; padding-top:15px; padding-left:15px;font-size:12px;display:flex;justify-content: space-between;border-right:1px solid #eee;}
     .translator_birth > span {padding-right:15px;}
     .translator_info_text {width:760px; height:150px; text-align:justify;line-height:20px;font-size:13px; padding:15px 20px 20px 20px;}

     /*언론사 추천 및 수상내역*/
     .awards_wrap {width:980px; height:160px; margin-top:20px;}
     .awards_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .awards_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .awards_box {width:980px; height:120px; }
     .awards_list {width:980px; height:60px;border-bottom:1px solid #eee;}
     .awards_list > li {float:left;margin-left:20px; margin-right:60px;}
     .awards_list > li > a {font-size:12px; text-decoration:none; color:#000;}
     .awards_list > li > a > img {vertical-align: -20px; margin-right:5px;} 
     .awards_list > li > a:hover {text-decoration: underline;}

     /*상품정보제공공시*/
     .content_notice_wrap {width:980px; height:270px;  margin-top:20px;}
     .c_notice_title {width:980px; height:45px;border-bottom:1px solid #777;}
     .c_notice_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .c_notice_box {width:980px; height:230px; padding-top:10px;}
     .c_notice_box > table {width:980px; height:220px; color:#666;border:1px solid #eee;}
     .c_notice_box > table tr th {width:20%; background-color:#f9f9f9;font-size:12px;text-align:left; padding:5px 0 5px 20px;font-weight: normal;border-bottom:1px solid #eee;}
     .c_notice_box > table tr td {width:30%; font-size:12px; text-align:justify;padding:5px 10px 5px 20px;border-bottom:1px solid #eee;}
     .c_notice_box > table tr:nth-of-type(4) > th {border-bottom:none}
     .c_notice_box > table tr:nth-of-type(4) > td {border-bottom:none}

     /*이벤트 기획전*/
     #event_wrap {width:980px; height:145px; margin-top:20px;}
     .event_title {width:980px; height:45px;border-bottom:1px solid #777;margin-bottom:20px;}
     .event_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
     .event_box {width:980px; height:80px;}
     .event_box > a > img {width:100%;height:100%;}

     /*회원들이 구매한 책, 같이 본 책*/
     #sub_recommend_wrap {width:980px; height:auto;}
     .sub_recommend {width:980px; height:310px; position:relative;padding-top:20px;}
     .sub_recommend > h2 {width:980px; height:30px;font-size:14px;border-bottom:1px solid #eee; }
     .sub_recommend_content {width:880px; height:240px; margin-top:20px;margin-left:50px;overflow:hidden;}
     .sub_recommend_list {width:1760px; height:240px; }
     .sub_recommend_list li {width:880px; height:240px; float:left;display:flex; justify-content: space-between;}
     .sub_recommend_list1 {width:1760px; height:240px; }
     .sub_recommend_list1 li {width:880px; height:240px; float:left; display:flex; justify-content: space-between;}
     .sub_recommend_list2 {width:1760px; height:240px; }
     .sub_recommend_list2 li {width:880px; height:240px; float:left; display:flex; justify-content: space-between;}
     .sub_rl {width:140px; height:240px; }
     .sub_rl > a {display:flex; flex-direction:column; align-items: center; text-decoration:none;color:#666;}
     .sub_rl > a:hover {text-decoration:underline;}
     .sub_rl_img {width:120px; height:175px;  box-shadow:2px 2px 2px #ccc;}
     .sub_rl_title {width:140px; height:35px; margin-top:10px;font-size:12px; text-align: center;}
     .sub_rl_img1 {width:120px; height:175px;box-shadow:2px 2px 2px #ccc;}
     .sub_rl_title1 {width:140px; height:35px; margin-top:10px;font-size:12px; text-align: center;}
     .sub_rl_img2 {width:120px; height:175px; box-shadow:2px 2px 2px #ccc;}
     .sub_rl_title2 {width:140px; height:35px; margin-top:10px;font-size:12px; text-align: center;}

     .sub_prev {position:absolute; top:40%;left:0; cursor:pointer;}
     .sub_next {position:absolute; top:40%; right:0;cursor:pointer;}
     .sub_prev1 {position:absolute; top:40%;left:0; cursor:pointer;}
     .sub_next1 {position:absolute; top:40%; right:0;cursor:pointer;}
     .sub_prev2 {position:absolute; top:40%;left:0; cursor:pointer;}
     .sub_next2 {position:absolute; top:40%; right:0;cursor:pointer;}

     /*리뷰*/
     #review_wrap1 {width:980px; height:auto; margin-top:25px;border-bottom:1px solid #eee;}
     .review_title {width:980px; height:45px;border-bottom:1px solid #777;margin-bottom:20px;display:flex; justify-content: space-between;}
     .review_content {display:flex; align-items: center;}
     .review_content > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;padding-right:5px;}
     .review_content > img {width:90px; height:18px;padding-right:5px;margin-top:10px;}
     .score {font-size:23px;margin-top:10px;}
     .score > span {font-size:13px; font-weight: bold;padding-left:5px;color:#777;}
     .review_point{font-size:13px; color:#e25147;padding-right:10px;}
     .review_content > button {width:90px; height:27px; color:#000; font-size:13px; color:#fff; font-weight: bold;
      background-color:#e25147;border-top:none;border-left:none; border-right:1px solid #c81a14;border-bottom:1px solid #c81a14;margin-top:5px;}

      /*베스트 리뷰*/
      .review_box1 {width:980px; height:auto;}
      .review_best {width:980px; height:auto;position:relative;background-color:#f9f9f9;}
      .review_best:nth-of-type(2) {border-top:1px solid #eee;border-bottom:1px solid #eee;}
      .re_best1 {width:980px; height:55px;border-bottom:1px solid #eee;margin-top:-20px;padding-left:20px;}
      .review_best:nth-of-type(2) > .re_best1 {margin-top:0;}
      .re_best1 > img {vertical-align: -10px;padding-right:5px;}
      .bestreview {color:#ef544d; font-size: 13px; font-weight: bold;}
      .re_best2 {width:980px;height:30px; display:flex; justify-content: space-between;padding:20px;}
      .re_name {display:flex;}
      .re_name > img {width:68px; height:15px; margin-top:3px; margin-right:5px;}
      .re_name > p {font-size:14px; font-weight:bold;}
      .award {font-size:10px; color:#ef544d; border:1px solid #ef544d; border-radius:20px;padding:1px 5px;text-align:center;}
      .reader {font-size:11px; color:#666;}
      .re_best3 {padding:20px; text-align:justify;font-size:13px;}
      .re_best3_1 {padding:20px; text-align:justify;font-size:13px;}
      .re_best3_2 {padding:20px; text-align:justify;font-size:13px;}
      .re_best4 {width:980px; height:20px; display:flex; color:#666; font-size:13px;padding:20px;margin-bottom:20px;}
      .re_best4 > img {width:54px; height:16px;margin-top:2px;margin-left:2px; cursor:pointer;}
      .review_spread { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:10px; right:2px; }
	    .review_spread:nth-of-type(2) { display: none; }
	    .review_spread > i { font-size: 10px; color: #e15148; }
      .review_spread1 { float: right; height: 15px; margin: 0 auto; font-size: 12px; text-align: right; padding-right: 20px; cursor: pointer; position:absolute; bottom:10px; right:2px; }
	    .review_spread1:nth-of-type(2) { display: none; }
	    .review_spread1 > i { font-size: 10px; color: #e15148; }
      
      /*일반리뷰*/
      .review_box2 {width:980px; height:auto; padding-top:10px;}
      .review_num {width:980px; height:44px;padding-right:20px;}
      .review_num > span {float:right;padding-top:20px;font-size:13px;color:#666;}
      .review_best1 {border-top:1px solid #666;}

      .review_bottom {width:980px; height:35px;display:flex;align-items:center; justify-content:space-between;border-top:1px solid #666; background-color:#fafafa;}
      .review_left {width:70%;height:100%;margin-left:15%;}
      .review_left > ul {width:100%; height:100%; display:flex;justify-content: space-between;align-items: center;}
      .review_left > ul > li {width:7%;height:100%;display: flex; justify-content: center; align-items: center;float:left;font-size:12px; cursor:pointer;text-align:center;
        border-left:1px solid #eee;color:#666;}
      .review_left > ul > li:nth-of-type(1) {border:none;} 
      .review_left > ul > li:nth-of-type(2) {border:none;margin-left:5px;} 
      .review_left > ul > li:nth-of-type(3) {border:none;background-color:#555; color:#fff;}
      .review_left > ul > li:nth-of-type(4) {border:none;} 
      .review_left > ul > li:nth-of-type(14) {border:none;margin-left:5px;}  
      .review_right {width:80px;}
      .review_right > p {font-size:12px; color:#888;}
      .p_hidden, .p_hidden1 {display:none;}

      /*기대평*/
      .expectation_wrap {width:980px; height:auto;margin-top:10px;}
      .ex_title {width:980px; height:45px;border-bottom:1px solid #777;margin-bottom:20px;display:flex; justify-content: space-between;}
      .ex_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
      .ex_title > p {font-size:12px;line-height:60px;font-weight: bold; color:#666;}
      .ex_title > p > img {width:14px; height:14px; vertical-align: -2px;}
      
      .ex_box1 {width:980px; height:145px; background-color:#f9f9f9;display:flex; flex-direction:column;}
      .ex_box1 > ul {width:100%; height:30px;padding-left:20px;padding-top:10px;}
      .ex_box1 > ul > li {float:left; width:auto; height:30px;font-size:13px; color:#555;display:flex; align-items:center;}
      .ex_box1 > ul > li:nth-of-type(1) {margin-right:50px;}
      .ex_box1 > ul > li > span {font-size:15px;margin-left:5px;margin-top:-3px;}
      .ex_text_num {width:800px;height:20px;margin-left:20px;margin-top:10px;}
      .ex_text_num > p {float:right;font-size:12px;color:#999;}
      .ex_textbox {display:flex; padding-left:20px;}
      .ex_textbox > textarea {width:800px; height:60px;resize:none; font-size:12px; color:#ccc;padding:5px;}
      .ex_textbox > button {width:117px; height:60px;margin-left:5px;border:1px solid #ccc; background-color:#fff;font-size:13px; font-weight:bold;}
      
      .ex_box2 {width:980px; height:auto; margin-top:20px;}
      .ex_title2 {width:980px; height:50px; border-bottom:1px solid #ccc;display:flex; justify-content: space-between;}
      .ex_title2 > h2 {font-size:15px;line-height:60px;padding-left:20px;}
      .ex_title2 > h2 > img {width:90px; height:20px;vertical-align: -2px;margin-left:10px; margin-right:10px;}
      .ex_title2 > h2 > span {font-size:20px;font-weight: normal;}
      .ex_title2 > p {font-size:12px;color:#666;line-height:60px;padding-right:20px;}
      .ex_side {width:980px; height:40px; display:flex; justify-content: space-between; align-items:center;border-bottom:1px solid #ccc;padding-left:20px;padding-right:20px;}
      .ex_1 {display:flex;}
      .ex_1 > span {font-size:15px; color:#646464; }
      .ex_name{width:100px; height:100%; padding-left:10px;font-size:13px;}
      .ex_content {font-size:14px;}
      .ex_2 {font-size:12px;}
      .ex_side:nth-of-type(3) {border:none;}
      .ex_bottom {width:980px; height:35px;display:flex;align-items:center; justify-content:space-between;border-top:1px solid #666;border-bottom:1px solid #ccc; background-color:#fafafa;}
      
      /*판매자 정보*/
      .seller_wrap {width:980px; height:auto;margin-top:20px;}
      .seller_title {width:980px; height:45px;border-bottom:1px solid #777;margin-bottom:20px;}
      .seller_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
      .seller_wrap > p {font-size:13px;padding-left:20px;padding-bottom:20px;color:#666;}
      .seller_wrap > table {width:980px; height:280px; border-collapse: collapse;font-size:12px;color:#666;}
      .seller_wrap > table tr {border:1px solid #eee;height:40px;}
      .seller_wrap > table tr th {font-weight:normal; text-align:left;width:22%;padding-left:20px;border-right:1px solid #eee;background-color:#f7f7f7;}
      .seller_wrap > table tr td {width:78%;text-align:justify;padding-left:20px;}

      /*교환/환불*/
      #exchange_wrap {width:980px; height:auto;margin-top:20px;}
      .exchange_title {width:980px; height:45px;border-bottom:1px solid #777;margin-bottom:20px;}
      .exchange_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
      #exchange_wrap > table {width:980px; height:430px; border-collapse: collapse;font-size:12px;color:#666;}
      #exchange_wrap > table tr {border:1px solid #eee;}
      #exchange_wrap > table tr:first-child, tr:nth-child(5) {height:40px;}
      #exchange_wrap > table tr:nth-child(2) , tr:nth-child(3) , tr:nth-child(6) {height:60px;}
      #exchange_wrap > table tr:nth-child(4) {height:170px;}
      #exchange_wrap > table tr th {font-weight:normal; text-align:left;width:22%;padding-left:20px;border-right:1px solid #eee;background-color:#f7f7f7;}
      #exchange_wrap > table tr td {width:78%;text-align:justify;padding-left:20px;}
      #exchange_wrap > h6 {margin-top:20px; padding-left:20px;font-size:13px;}
      #exchange_wrap > p {font-size:12px;padding-left:20px;padding-top:10px;color:#666;}
      .second_p {padding-top:0;margin-left:10px;margin-top:-5px;}
      .second_p > a {color:#666;}
      .second_p > a:hover {color:#000;}

      /*배송안내*/
      .shipping {width:980px; height:auto;margin-top:20px;margin-bottom:40px;}
      .shipping_title {width:980px; height:45px;border-bottom:1px solid #777;margin-bottom:20px;}
      .shipping_title > h2 {line-height:45px; padding-left:20px; font-size:20px; color:#000;}
      .shipping > ul {font-size:12px; color:#666;}
      .shipping > ul > li {line-height:22px;}
      .shipping > ul:nth-of-type(1) {padding-left:20px;padding-bottom:3px;}
      .shipping > ul:nth-of-type(1) > li::before {content: "· "}
      .shipping > ul:nth-of-type(2) {padding-left:30px;}
      .shipping > ul:nth-of-type(2) > li {line-height:15px;}
